body {
  margin: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  font-family: 'Zilla Slab', serif;
}

header > h1 {
  margin: 0 0 20px 10px;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  font-size: 3rem;
}

.movies > .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.movies > h3 {
  margin: 0 0 10px 10px;
}

.movies > h3 > input[type='number'] {
  padding: 3px 0 3px 6px;
}

.movies > .container > li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(25vw - 100px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  transform: scale(1);
  transition: transform 0.2s ease;
}

@media only screen and (max-width: 1200px) {
  .movies > .container > li {
    width: calc(33.3vw - 100px);
  }
}

@media only screen and (max-width: 840px) {
  .movies > .container > li {
    width: calc(50vw - 100px);
  }
}

@media only screen and (max-width: 480px) {
  .movies > .container > li {
    width: calc(100vw - 100px);
  }
}

.movies > .container > li:hover {
  transform: scale(1.05);
}

.movies > .container > li > h3 {
  word-wrap: break-word;
  margin: 0;
  font-weight: 600;
  font-size: calc(1rem + 1vw);
  line-height: 1;
}

.movies > .container > li > img {
  max-height: 200px;
  object-fit: cover;
  margin: 10px 0;
}

.movies > .container > li > a {
  text-align: center;
  padding: 12px;
  color: #fff;
  background-color: hsl(255, 100%, 65%);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  font-weight: 800;
  text-transform: uppercase;
}
.movies > .container > li > a:hover {
  background-color: hsl(255, 100%, 60%);
}
