.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container > li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #f3f3f3;
}

.container > li > h3 {
  word-wrap: break-word;
  margin: 0;
}

.container > li > img {
  max-height: 200px;
  object-fit: cover;
  margin: 10px 0;
}

.container > li > a {
  padding: 8px;
  color: #fff;
  background-color: #7700ff;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
